<html>
  <head>
    <title>Jessica's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">My Web Dev Journey Blog</a></h1>
      <p>
        Thanks for visiting my blog about my experience learning web development
        and my pursuit of working in web development.
      </p>
    </div>

    <div>
      <p>published: 07.11.2020, 12:14</p>
      <h2><a href="">Where It All Began</a></h2>
      <p>
        I began coding when I enrolled in LaunchCode LC101 Full-stack Web
        Development course in 2019. Before I was a student at LaunchCode, my
        only "experience" coding was manipulating my Xanga page back in the
        early '00's.
      </p>
      <a href="https://www.launchcode.org/">Learn more about LaunchCode</a>
    </div>
    <div>
      <p>published: 07.11.2020, 12:14</p>
      <h2><a href="">What I Learned From LC1O1</a></h2>
      <ul>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>HTML5/CSS</li>
        <li>Java</li>
        <li>Spring</li>
        <li>SQL</li>
      </ul>
    </div>
  </body>
</html>
